# Visual Studio
.vs/
bin/
obj/

# User-specific files
*.user
*.suo

# Rider
.idea/

# VS Code
.vscode/

appsettings.json
appsettings.Development.json


# JWT Keys
src\Services\AuthService\AuthService.API\keys>
src\Services\TradeService\TradeService.API\TradeService.API\keys>